.team-list__item {
  display: flex;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 6px;
}
.team-list__item-avatar {
  height: 100px;
  background-color: var(--bg);
  width: 76px;
  box-sizing: border-box;
  border: 2px solid var(--border);
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}
.team-list__item-name {
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  background-color: var(--light-text);
}
.team-list__item img {
  display: inline-block;
  vertical-align: middle;
  max-height: 76px;
}
.team-list__item-detail {
  border: 2px solid var(--border);
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 10px 0 10px;
  border-radius: 0 4px 4px 0;
}
.team-list__item-imgs {
  display: flex;
  justify-content: space-between;
}
.team-list__item-imgs img {
  border-radius: 4px;
  height: 38px;
  border: 2px solid var(--border);
}
.team-list__item-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-list__item-options span {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.team-list .empty {
  text-align: center;
  position: relative;
  height: 100%;
}
.team-list .empty::after,
.team-list .empty::before {
  content: "";
  background-color: var(--light-text);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 4px;
}
.team-list .empty::after {
  width: 4px;
  height: 28px;
}
.team-list .empty::before {
  width: 28px;
  height: 4px;
}
.show-click {
  text-align: center;
  border: 1px solid var(--border);
  border-radius: 4px;
  margin-bottom: 16px;
}