.base-data {
  line-height: 24px;
}
.base-data-item {
  margin-bottom: 8px;
}

.base-data .van-stepper--round .van-stepper__minus {
  color: var(--stroke-2);
  border-color: var(--stroke-2);
}
.base-data .van-stepper--round .van-stepper__plus {
  border: none;
  color: #fff;
  background-color: var(--button-bg);
}

.base-data .van-stepper.van-stepper--round {
  margin-left: 18px;
}

.van-slider {
  margin-bottom: 22px;
  margin-top: 12px;
}

.holy-relic {
  /* margin-top: 24px; */
  margin-bottom: 16px;
}

.holy-relic-tips {
  font-size: 12px;
  margin-left: 4px;
  color: var(--tip-text);
}

.elemental-slider-button {
  background-color: var(--border);
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
}

.base-damage__input {
  line-height: 24px;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}

.holy-relic__check {
  display: flex;
}

.holy-relic-content {
  display: inline-block;
  flex: 1;
  white-space: nowrap;
  text-align: center;
  padding: 0 2px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.3;
}
.holy-relic__img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

.damage-tag {
  display: flex;
  line-height: 20px;
  border-bottom: 2px solid var(--button-bg);
  font-weight: bold;
  padding-bottom: 2px;
  align-items: center;
}
.damage-tag.two {
  grid-column: span 2;
}
.damage-tag__title {
  margin-right: 6px;
  font-size: 20px;
  text-wrap: nowrap;
}

.elector {
  color: #bd00bd;
}

.overload {
  color: #c9295e;
}

.shatter {
  color: #86898b;
}

.swirl {
  color: #7ef1b2;
}

.superconduct {
  color: #7ee9f1;
}

.crystallize {
  color: #ffce2d;
}

.bloom {
  color: #00e851;
}

.aggravate {
  color: #d28cfb;
}

.burning {
  color: #fc980a;
}

.witch {
  color: #f51e1e;
}

.thunder {
  color: #ce1dfa;
}

.emerald {
  color: #2ee27f;
}

.eden {
  color: #a75eb9;
}

.active {
  opacity: 1;
}

.result {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
.gain-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gain-group {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .result {
    grid-template-columns: repeat(6, 1fr);
  }
}
.shield-data {
  text-align: center;
  font-size: 20px;
}

.base-damage__img {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: solid 2px var(--border);
}
.cha-gain-inner {
  display: flex;
  align-items: center;
}
.damage-tag__detail {
  text-align: center;
  flex: 1;
}
.gain-group-details summary {
  margin-bottom: 12px;
}
.gain-group-details .close,
.gain-group-details[open] .open {
  display: none;
}
.gain-group-details .open,
.gain-group-details[open] .close {
  display: inline-block;
}
