.data-panel {
  margin-bottom: 24px;
  line-height: 24px;
}

.data-panel .van-stepper--round .van-stepper__minus {
  color: var(--button-bg);
  border-color: var(--button-bg);
}

.data-panel .van-stepper--round .van-stepper__plus {
  border: none;
  color: #fff;
  background-color: var(--button-bg);
}

.van-slider__button-wrapper .van-slider__button {
  box-shadow: 0 2px 2px var(--button-bg);
}

.dmg-result {
  width: 100%;
  top: 0;
  transition: top 0.3s;
  background-color: #fff;
  border: 1px solid var(--button-bg);
  border-radius: 4px;
  padding: 6px 0;
  z-index: 1;
}

.result-grid {
  width: 100%;
  display: flex;
}

.grid-item {
  flex: 1;
  text-align: center;
}

.normal-damage {
  font-size: 20px;
}

.crit-damage {
  font-size: 26px;
}

.normal-damage,
.crit-damage {
  font-weight: bold;
  line-height: 26px;
}

.exclamation-mark {
  display: inline-block;
  transform: scaleY(1.4);
}

.increase-result__top {
  position: fixed;
  top: 60px;
  width: calc(100% - 32px);
}

.extra-btn {
  display: inline-block;
  margin-left: 16px;
  font-size: 14px;
  border: 1px solid var(--main-text);
  border-radius: 4px;
  padding: 0 4px;
}

.data-item-popover {
  max-width: 80%;
  transform: translateY(8px);
}

.data-item-popover__content {
  padding: 12px;
}

.data-panel__basic {
  width: 100%;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 8px;
}

.basic-panel-item {
  flex: 1;
  text-align: center;
  background-color: var(--light-text);
}

.basic-panel-item-title {
  font-size: 12px;
}

.basic-detial {
  font-size: 14px;
  display: none;
}

.basic-panel-selected {
  background-color: var(--button-bg);
  color: var(--light-text);
  flex: 1.5;
}

.basic-panel-selected .basic-panel-item-total {
  display: inline-block;
  margin-left: 4px;
}

.basic-panel-selected .basic-detial {
  display: block;
}

.basic-panel-input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
}

.ex-input {
  padding: 0;
  max-width: 60px;
  background: none;
  outline: none;
  border: none;
  text-align: center;
}