:root {
  --page-bg: #FDFBF6;
  --stroke-0: #F7F1E6;
  --stroke-1: #928986;
  --stroke-2: #997874;
  --stroke-3: #645856;
  --stroke-4: #14100f;

  --light-text: var(--stroke-0, #F7F1E6);
  --tip-text: var(--stroke-1, #928986);
  --button-bg: var(--stroke-2, #997874);
  --main-text: var(--stroke-3, #645856);
  
  --border: #766461;
  --bg: #b7a19e;
  --extra-text: #2ee27f;

  --one-rarity: #606368;
  --two-rarity: #577C6C;
  --three-rarity: #55859F;
  --four-rarity: #A17CC2;
  --five-rarity: #cc8d41;

  --van-collapse-item-content-padding: 0;
  --van-collapse-item-content-background: var(--page-bg);
  --van-collapse-item-duration: 0.2s;
  --van-slider-active-background: var(--stroke-3);
  --van-stepper-button-round-theme: var(--button-bg);
  --van-back-top-background: var(--stroke-2);
  --van-floating-bubble-background: var(--stroke-2);
  
  --text-electro: #b380ff;
  --text-hydro: #6495ED;
  --text-anemo: #5ddac1;
  --text-cryo: #5df;
  --text-geo: #fc0;
  --text-dendro: #b1d83d;
  --text-pyro: #ff6666;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--page-bg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 80%;
  user-select: none;
  height: 100vh;

  font-family: 'eng', HYWenHei-85W, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-text);
}

.bg-one-rarity {
  background-color: var(--one-rarity);
}

.bg-two-rarity {
  background-color: var(--two-rarity);
}

.bg-three-rarity {
  background-color: var(--three-rarity);
}

.bg-four-rarity {
  background-color: var(--four-rarity);
}

.bg-five-rarity {
  background-color: var(--five-rarity);
}

.linear-bg-0-rarity {
  background-image: linear-gradient(to right, var(--one-rarity) 0%, rgba(0, 0, 0, 0) 70%);
}

.linear-bg-1-rarity {
  background-image: linear-gradient(to right, var(--two-rarity) 0%, rgba(0, 0, 0, 0) 70%);
}

.linear-bg-2-rarity {
  background-image: linear-gradient(to right, var(--three-rarity) 0%, rgba(0, 0, 0, 0) 70%);
}

.linear-bg-3-rarity {
  background-image: linear-gradient(to right, var(--four-rarity) 0%, rgba(0, 0, 0, 0) 70%);
}

.linear-bg-4-rarity {
  background-image: linear-gradient(to right, var(--five-rarity) 0%, rgba(0, 0, 0, 0) 70%);
}

.highlight {
  color: #0097E1;
}

@media screen and (min-width: 1025px) {
  #app {
    width: 375px;
    margin: 0 auto;
  }
}

.van-collapse-item {
  margin-bottom: 4px;
}

.van-floating-bubble {
  overflow: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
}

.text-electro {
  color: var(--text-electro);
}
.text-hydro {
  color: var(--text-hydro);
}
.text-anemo {
  color: var(--text-anemo);
}
.text-cryo {
  color: var(--text-cryo);
}
.text-geo {
  color: var(--text-geo);
}
.text-dendro {
  color: var(--text-dendro);
}
.text-pyro {
  color: var(--text-pyro);
}