body {
  margin: 0;
  padding: 0;
  background-color: #FDFBF6;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 80%;
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: #645856;
}

@media screen and (min-width: 450px) {
  #app {
    width: 375px;
    margin: 0 auto;
  }
}