body {
  margin: 0;
  padding: 0;
  background-color: #FDFBF6;
  background-image: url('./assets/paimeng.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 80%;
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #645856;
}
